.upper{
    background-color:rgb(62, 96, 196);
    position: fixed;
    top: 0%;
    left: 0%;
    height: 5%;
    width: 100%;
    }
    nav{
    background-color:rgb(62, 96, 196);
    color: white ;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 1%;
    left: 0%;
    width: 100%;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .nav2{
        background-color: rgb(247, 241, 241);
        position: fixed;
        top: 5%;
        height: 8%;
    }
    .upb{
        cursor: pointer;
        padding-right: 1px;
        font-size: 11px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 4px;
        border: 1px outset white;
        height: 20px;
        width:80px;
        text-align: center;
    }
    .fa{
        text-align-last: justify !important;
        color: white;
        float: left;
        padding-left: 30px !important;
    }
        
    .logo{
        position: absolute;
        top:0px;
        left: 0;
    }
    .bt2{
        cursor: pointer;
        font-size: 12px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 30px;
        height: 40px;
        width:95px;
        position: relative;
        top: 20%;
        left: 20%;
        /* margin-top: 55px; */
    }
    .bt2:hover{
        background-color: rgb(62, 96, 196);
        color: white;
    }
    
    img.hlt{
        position: absolute;
            top: 110px;
            left: 0;
            right: 0;
            width: 100%;
    }
    /* .hlt{
        padding-block-start: 100px;
        top: 450px;
        right: 40px;
        width: 100%;
    } */
    .tickle{
        background-color:rgb(62, 96, 196);
        /* margin: 10px 0px 0px 0px ; */
        position: relative;
        top: 620px;
        color: white;
        text-align: center;
        height:25px;
    }
    .in{
        color: seagreen;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .top{background-color: rgb(247, 241, 241);
    }
    .h1{
        position: absolute;
        top: 650px;
        right: 480px;
        text-align: center;
        color:green;
    }
    .sp1{
        position: absolute;
        top: 0px;
        right: 100%;
        color:  rgb(62, 96, 196)
    }

    .h2{
        position: absolute;
        top: 1500px;
        right: 430px;
        color:green;

    }
    .sp2{
        /* position: absolute;
        top: 0px;
        right: 0px; */
        color:  rgb(62, 96, 196);
    }
    .h3{
        position: absolute;
        top: 2550px;
        right: 480px;
        text-align: center;
        color:green;}

    .sp3{
                /* position: absolute;
                top: 0px;
                left: 230px; */
            color: rgb(62, 96, 196);
    }
    /* h1.sp3{
        position: absolute;
        top: 2550px;
        right: 500px;
        text-align: center;
        color:green;}
    .sp3{
        position: absolute;
        top: 0px;
        right: 100%;
        color: rgb(62, 96, 196);
    }        */
    .para1{
        text-align: justify;
        margin: 700px 0px 0px 0px ;
        /* position: relative; */
        position: inline-block;
        /* top: 820px; */
        padding-inline: 8%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: grey;
    }
    .para2{
        text-align: justify;
        margin: 30px 0px 0px 0px ;
        /* position: relative; */
        position: inline-block;
        /* top: 820px; */
        padding-inline: 8%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: grey;
    }
    .para3{
        text-align: justify;
        margin: 30px 0px 0px 0px ;
        /* position: relative; */
        position: inline-block;
        /* top: 820px; */
        padding-inline: 8%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: grey;
    }
    .para4{
        text-align: justify;
        margin: 30px 0px 0px 0px ;
        /* position: relative; */
        position: inline-block;
        /* top: 820px; */
        padding-inline: 8%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: grey;
    }
    img.logo2{
        position: absolute;
        top:720px;
        left: 0;
    }
    
    img.logo3{
        position: absolute;
        top: 1020px;
    left: 0;
    }
    .d4{
        background-color: rgb(44, 91, 231);
        color: white;
        width: 500;
        height: 300px;
        text-align: center;
        font-size: xx-large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
        
    .one{
        background-color: white;
        box-shadow: 3px 3px 3px 3px grey;    
        text-align: center;
        height: 180px;
        width: 350px;
        display: inline-block;
        margin: 0px 0px 0px 70px;
        font-size: 25px;
        }
       .two{
            background-color: white;
            box-shadow: 3px 3px 3px 3px grey;    
            text-align: center;
            height: 180px;
            width: 350px;
            display: inline-block;
            margin: 0px 0px 0px 30px;
            font-size: 25px;
        }
        .three{
            background-color: white;
            box-shadow: 3px 3px 3px 3px grey;    
            text-align: center;
            height: 180px;
            width: 350px;
            display: inline-block;
            margin: 0px 0px 0px 30px;
            font-size: 25px;
        }
        .four{
            background-color: white;
            box-shadow: 3px 3px 3px 3px grey;    
            text-align: center;
            height: 180px;
            width: 350px;
            display: inline-block;
            margin: 0px 0px 0px 70px;
            font-size: 25px;
            }
        .five{
            background-color: white;
            box-shadow: 3px 3px 3px 3px grey;    
            text-align: center;
            height: 180px;
            width: 350px;
            display: inline-block;
            margin: 0px 0px 0px 30px;
            font-size: 25px;
                }
        .six{
            background-color: white;
            box-shadow: 3px 3px 3px 3px grey;    
            text-align: center;
            height: 180px;
            width: 350px;
            display: inline-block;
            margin: 0px 0px 0px 30px;
            font-size: 25px;
        }
        .h21{
            color: rgb(44, 91, 231);
        }
        hr{
            color: green;
        }
    
        .sev{
            background-color: whitesmoke;
            box-shadow: 3px 3px 3px 3px grey;    
            text-align: center;
            height: 80px;
            width: 350px;
            display: inline-block;
            position: absolute;
            top: 2300px;
            left: 0%;
            margin: 0px 0px 0px 30px;
            font-size: 20px;
        }
        .eig{
            background-color: whitesmoke;
            box-shadow: 3px 3px 3px 3px grey;    
            text-align: center;
            height: 80px;
            width: 350px;
            display: inline-block;
            position: absolute;
            top: 2300px;
            left: 30%;
            margin: 0px 0px 0px 30px;
            font-size: 20px;
        }
        .nine{
            background-color: whitesmoke;
            box-shadow: 3px 3px 3px 3px grey;    
            text-align: center;
            height: 80px;
            width: 350px;
            display: inline-block;
            position: absolute;
            top: 2400px;
            left: 0%;
            margin: 0px 0px 0px 30px;
            font-size: 20px;
        }
        .ten{
            background-color: whitesmoke;
            box-shadow: 3px 3px 3px 3px grey;    
            text-align: center;
            height: 80px;
            width: 350px;
            display: inline-block;
            position: absolute;
            top: 2400px;
            left: 30%;
            margin: 0px 0px 10px 30px;
            font-size: 20px;
        }
        .ele{
            background-color: white;
            box-shadow: 3px 3px 3px 3px whitesmoke;    
            display: inline-block;
            height: 230px;
            width: 350px;
            position: absolute;
            top: 2300px;    
            left: 60%;
             margin: 0px 0px 0px 60px;
            font-size: 15px;
            text-align: justify;
        }
        
        img.logo4{
            position: absolute;
            top: 2100px;
            left: 0;
        }
                
        .tlv{
    position: absolute;
    top: 2750px;
                margin: 0px 0px 0px 100px;
        }
    .last1{
        background-color: rgb(44, 43, 43);
        color: white;
        height: 90px;
        width: 450px;
        position: absolute;
        top: 2970px;
        left: 0px;
         margin: 0px 0px 0px 0px;
        font-size: 15px;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .last2{
        background-color: rgb(44, 43, 43);
        color: white;
        height: 50px;
        width: 450px;
        position: absolute;
        top: 3060px;
        left: 0px;
        margin: 0px 0px 0px 0px;
        font-size: 15px;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           
    } 
    .last3{
        background-color: rgb(44, 43, 43);
        color: white;
        height: 40px;
        width: 450px;
        position: absolute;
        top: 3110px;
        left: 0px;
        margin: 0px 0px 0px 0px;
        text-align: center;
    }
    .last4{
        background-color: rgb(44, 43, 43);
        color: white;
        height: 40px;
        width: 450px;
        position: absolute;
        top: 3150px;
        left: 0px;
        margin: 0px 0px 0px 0px;
        text-align: center;
    }
    .last5{
        background-color: rgb(44, 43, 43);
        color: white;
        height: 40px;
        width: 450px;
        position: absolute;
        top: 3190px;
        left: 0px;
        margin: 0px 0px 0px 0px;
        text-align: center;
    }
    .last6{
        background-color: rgb(44, 43, 43);
        color: white;
        height: 70px;
        width: 450px;
        position: absolute;
        top: 3230px;
        left: 0px;
        margin: 0px 0px 0px 0px;
        text-align: center;
    }
    .last7{
        background-color: rgb(44, 43, 43);
        color: white;
        height: 60px;
        width: 810px;
        position: absolute;
        top: 2970px;
        left: 450px;
        margin: 0px 0px 0px 0px;
        text-align: center;
    }
    .last8{
        background-color: rgb(44, 43, 43);
        color: white;
        height: 170px;
        width: 450px;
        position: absolute;
        top: 3020px;
        left: 450px;
        margin: 0px 0px 0px 0px;
        text-align: left;
    }
    .last9{
        background-color: rgb(44, 43, 43);
        color: white;
        height: 110px;
        width: 450px;
        position: absolute;
        top: 3190px;
        left: 450px;
        margin: 0px 0px 0px 0px;
        text-align: center;
    }
    .last10{
        background-color:rgb(44, 43, 43);
        color: white;
        position: absolute;
        top: 3010px;
        left: 900px;
        height: 50px;
        width: 360px;
        text-align: justify;
        margin: 15px 0px 0px 0px;}
    
    .last11{
    background-color:rgb(44, 43, 43);
    position: absolute;
    top: 3050px;
    left: 900px;
    height: 110px;
    width: 360px;
    text-align: left;
    margin: 15px 0px 0px 0px;
    }
    
    
    .last12{
        background-color:rgb(44, 43, 43);
        position: absolute;
        top: 3140px;
        left: 900px;
        height: 40px;
        width: 360px;
        align-items: center;
        }
        
    .last13{
        background-color:rgb(44, 43, 43);
        position: absolute;
        top:  3180px;
        left: 900px;
        height: 120px;
        width: 360px;
        align-items: center;
        }
    .last14{
        position: absolute;
        top: 3300px;
        left: 10;
        width: 100%;
        height: 50px;
        text-align: left;
    }